<!-- <p>todos works! from todos component</p> -->

<h2>ToDo list</h2>

<!-- Als er todo items zijn (todos array lengte is groter dan 0) loop door de todos array en geef voor elk item het titel atribuut weer. 
Als er geen items zijn is er een informatieve tekst. 
ngIf directive voor de if conditie / ngFor directive om door de array te loopen. -->

<ng-container *ngIf="todos.length > 0; else elseBlock">
  <ul *ngFor="let todo of todos">
    <li>
      {{todo.titel}}
    </li> 
  </ul>
</ng-container>

<ng-template #elseBlock>
  <h3>Je hebt alle taken voltooid! Relax, tijd voor een fris pintje.</h3>
</ng-template>
<br>
<br>



<app-tododetail (childEvent)="todos=$event" [parentdata]="todos"></app-tododetail>

<div class="container">
<h3>Een nieuwe todo ? </h3>

<!-- "size" parameter om het aantal karakters te bepalen (indien je met DB werkt match de kolom lengte van de database.)
<p><input size="35" #createTodoTitel type="text" placeholder="vul hier de titel in" required></p>

<p><input size="100" #createTodoBeschrijving type="text" placeholder="vul hier een beschrijving in"  required> </p>

<p><button (click)="createTodo(createTodoTitel.value, createTodoBeschrijving.value)">Create new Todo</button></p> 
 
 -->
<br>


<!-- Normale input en button omgewerkt naar Mat-Angular -->
<!--Form field en input: https://material.angular.io/components/form-field/overview -->

<!-- An attempt to add forms and validation : https://www.codingame.com/playgrounds/8012/angular-form-validation-example-tutorial -->

<form [formGroup]="NewTodoForm" novalidate>
  <div class="form-group">
    <mat-form-field class="titel-form" hintLabel="Verplicht veld met max 35 characters" appearance="fill" >
      <mat-label>Geef een titel voor je todo</mat-label>
      <input matInput class="form-control" formControlName="titel" type="text" #createTodoTitel maxlength="35" placeholder="Ex. Afwassen">
      <mat-hint align="end">{{createTodoTitel.value?.length || 0}}/35</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="NewTodoForm.controls['titel'].invalid && (NewTodoForm.controls['titel'].dirty || NewTodoForm.controls['titel'].touched)" class="alert alert-danger">
    <div *ngIf="NewTodoForm.controls['titel'].errors.required">
      <br>
      <p>Titel is required.</p>
    </div>
    
</div>
  <br>
  <br>
  <div class="form-group">
    <mat-form-field class="description-form" hintLabel="Verplicht veld met max 100 characters" appearance="fill" >
      <mat-label>Geef een beschrijving voor je todo</mat-label>
      <input matInput class="form-control" formControlName="omschrijving" type="text" #createTodoBeschrijving maxlength="100" placeholder="Ex. Ik moet afwassen met Dreft want dat gaat langer mee" >
      <mat-hint align="end">{{createTodoBeschrijving.value?.length || 0}}/100</mat-hint>
    </mat-form-field>
</div>
<div *ngIf="NewTodoForm.controls['omschrijving'].invalid && (NewTodoForm.controls['omschrijving'].dirty || NewTodoForm.controls['omschrijving'].touched)" class="alert alert-danger">
  <div *ngIf="NewTodoForm.controls['omschrijving'].errors.required">
    <br>
    <p>Omschrijving is required.</p>
  </div>
 
</div>

<br>
<br>
<button type="submit" [disabled]="NewTodoForm.pristine || NewTodoForm.invalid"
 class="btn btn-success" (click)="createTodo(createTodoTitel.value, createTodoBeschrijving.value)"  
 mat-raised-button>Create new Todo</button>
</form>
</div>

