<span>{{ title }} app is running!</span>

<!-- 
How to get started with Angular Material can be found here : https://material.angular.io/guide/getting-started 
The page also contains the install command : ng add @angular/material  
Information about mat-tab found on https://material.angular.io/components/tabs/overview
To use mat tab i have added in app.modules.ts "import {MatTabsModule} from '@angular/material/tabs"
and added MatTabsModule to the Imports.
The code snippet is also available on the webpage.
 -->
<mat-tab-group>
  <mat-tab label="To Do items">
    <ng-template matTabContent>
      <app-todos></app-todos>
    </ng-template>
  </mat-tab>
  <mat-tab label="Done items">
    <ng-template matTabContent>
      <app-dones></app-dones>
    </ng-template>
  </mat-tab>
</mat-tab-group>



    

    

   <!-- This code block "borrowed" from bootstrap doesn't work it uses href to diffrent pages and this is not used in angular-->
 
<!--     <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#profile">Profile</a>
      </li>
          
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade" id="home">
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div>

      <div class="tab-pane fade active show" id="profile">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
      </div>
         
    </div>
 -->
<router-outlet></router-outlet>